[2014-12-16 18:06] elbow-jason opened #1 "I would love to invoke rusti via a cli"
I would love to type `rusti` in my terminal and have this repl come up.

[2014-12-16 18:10] reem opened #2 "Load other crates"
Setting aside the technical challenge, rusti could know about cargo and fetch built dependencies/the project itself when asked, besides just the std crates.

[2014-12-16 18:12] #1 closed, assigned to nobody

[2014-12-16 18:39] japaric opened #3 "`.type` incorrectly classifies unboxed closures as a boxed closure"
[code]

Unboxed closures have anonymous types, so maybe you could report them by their `Fn*` trait, like:

[code]

(Or you could do what `rustc` does and just report them as `closure` :P)

[2014-12-16 23:23] murarth opened #4 "Implement running a file"
It's simple enough to do. I'm just not sure how the input should be handled.
Should it expect a `main` function and run that? Treat it like line-by-line input to the interactive mode? Even allowing, e.g. `use` after other items?

[2014-12-17 00:51] murarth opened #5 "Use of thread-local storage causes a crash"
`rusti=> thread_local!(static FOO: int = 1);`

crashes with:

[code]

[2014-12-17 00:52] murarth opened #6 "`std::task::try` crashes"
`rusti=> let _ = std::task::try(|| ());`

crashes with:

[code]

[2014-12-17 05:46] murarth opened #7 "Implement persistent local variables"
This one seems like a very tough problem.

[2014-12-17 08:02] nodakai opened #8 "The license must be GPL"
GNU `libreadline` is released under GPL rather than LGPL.  That requires you to release your software which links to it under GPL when you distribute it.

- https://en.wikipedia.org/wiki/GNU_Readline#Choice_of_the_GPL_as_GNU_Readline.27s_license

I retract this statement: ~~Also, my understanding is GPL is compatible with neither of MIT nor Apache 2 License.~~

- https://en.wikipedia.org/wiki/GNU_

[2014-12-18 02:07] hastebrot opened #9 "exec.rs: Error with __morestack and LLVMRustCreateJITMemoryManager"
Hi!

I experimented a bit with `morestack_addr()` from `rusti/src/rusti/exec.rs` for `LLVMRustCreateJITMemoryManager()`. The following rust source file fails with a gcc linker error, if `rustc` was used without `-lmorestack` (it fails with `rustc`, but succeeds with `rustc -lmorestack`). I found no traces of `-lmorestack` in the `Cargo.toml`, so I guess this might be an error for the `rustc` on Wi

[2014-12-18 07:40] #9 closed, assigned to nobody

[2014-12-21 04:39] murarth opened #10 "`info` command, similar to GHCi"
The command would resolve a name and print its type (for a named value) or definition (for a named type) and the place it was defined.

I don't think this is possible without a change to `rustc`. Resolution is performed by a `rustc_resolve::Resolver` instance, but the type is private and the name resolution data is dropped after it serves its purpose. `CrateAnalysis` uses `NodeId` as keys rather t

[2014-12-21 22:31] #6 closed, assigned to nobody

[2014-12-23 02:34] lowks opened #11 "cargo build broken ?"
Here is what I am using:

[code]

Here is the result I got from `cargo build`

[code]

[2014-12-23 17:08] #11 closed, assigned to nobody

[2015-02-06 18:52] murarth commented on #3
As expected, `rustc` got around to changing its `Repr` output for closure types.

[code]

[2015-02-12 19:57] murarth commented on #3
If there's no objection, I'm going to close this now. The output is clearer than it was before and boxed closures don't even exist anymore (except for the `Box<Fn()>` variety).

[2015-02-12 19:57] #3 closed

[2015-02-13 19:14] Sarjo2222 opened #14 "LLVM ERROR: Program used external function '___morestack_addr' which could not be resolved!"
Simple commands (e.g. 2 + 2, println!("Hello world")) result in "LLVM ERROR: Program used external function '___morestack_addr' which could not be resolved!
An unknown error occurred".

[2015-02-13 19:30] murarth commented on #14
This seems very odd. I'll need more information about your setup.
What version of rustc are you using? (`rustc --version`)
What operating system are you using?

[2015-02-13 19:39] Sarjo2222 commented on #14
rustc 1.0.0-nightly (3ef8ff1f8 2015-02-12 00:38:24 +0000)
OS X Yosemite Version 10.10.2

[2015-02-13 19:54] murarth commented on #14
Have you been able to get rusti to compile before or is this your first attempt?
I don't have access to an OS X system, so I'm afraid I won't be able to help you. I haven't seen this error on Linux at all.

[2015-02-13 20:00] Sarjo2222 commented on #14
I successfully compiled and used earlier versions of Rusti. I suppose I'll just have to hope that this strange error will go away by itself in later versions.

[2015-02-16 15:51] mitsuhiko commented on #8
There is no reason for the package to be GPL.  The final product will automatically degrade to GPL but the original source here should be BSD.  Also there are GPL interface compatible versions of libreadline which are not GPL licensed and APIs are not copyrightable.  So no reason for this to be GPL.

[2015-02-16 19:07] bombless opened #15 "Segmentation fault when calling `llvm::LLVMGetPointerToGlobal` on Windows (LLVM ERROR: Incompatible object format!)"
I tried cleaning $PATH, using different rustc (dev or nightly), no good so far, always the same segmentation fault no matter you run from cli or repl.

[code]

[2015-02-16 19:41] murarth commented on #15
Apparently, LLVM MCJIT doesn't understand Windows executable formats, even on Windows. This [mailing list posting](http://lists.cs.uiuc.edu/pipermail/llvmdev/2013-December/068395.html) indicates that adding `-elf` to the end of the target triple will cause LLVM to generate ELF code in memory on Windows. The Rust LLVM JIT code should be doing this, but I'm not sure how to do it. I will be looking i

[2015-02-17 00:05] murarth commented on #15
@bombless: I've written a very naive attempt to fix this. I have no idea whether it will work at all. It's in a branch in this repo called `windows-fix`. If you'd try it and let me know if it succeeds or if the output changes, I'd appreciate it.

[2015-02-17 00:46] bombless commented on #15
@murarth Thanks!
I tried your idea but it seems that changing the triple here don't work.

[code]

[code]

[code]

I tried to edit that `sys::getProcessTriple()` and recompile rustc to get new rustc library but it doesn't work, with same output.

[2015-02-17 15:24] bombless commented on #15
Changing source code of src/llvm only affects libraries built on stage1 (I read Makefile before but I forgot this thing yesterday).
Leaving this message so if anyone view this issue and try the same thing as me can save some time.

[2015-03-05 19:16] murarth commented on #8
Seems reasonable to me. Thanks to both of you for the input. Closing this for now.

[2015-03-05 19:16] #8 closed

[2015-03-05 19:26] murarth commented on #4
Oops, I forgot there was an issue for this. I implemented it quite a while ago.

[2015-03-05 19:26] #4 closed

[2015-03-06 19:12] yann-ledu opened #16 "Can't build env_logger, internal compiler error"
With latest rust nightly, and fresh repo clone of rusti.

[2015-03-06 19:16] murarth commented on #16
It's a known bug in `rustc`: rust-lang/rust#23075
For now, you can build with `cargo build --release` to omit debugging symbols.

[2015-03-06 19:20] yann-ledu commented on #16
Now bugs at rusti itself:

[code]

[2015-03-06 20:11] murarth commented on #16
@yann-ledu: I've pushed a fix for today's nightly. rusti should build just fine now. (Still using the `cargo build --release` workaround.)

[2015-03-06 22:29] yann-ledu commented on #16
Thanks, it works now!

[2015-03-06 22:29] #16 closed

[2015-03-06 22:37] yann-ledu opened #17 "LLVM ERROR: Program used external function '___morestack_addr' which could not be resolved!"
This is what I get whatever I type.

[2015-03-06 22:44] murarth commented on #14
The error is still occurring in the latest version, so I'm reopening this.

[2015-03-06 22:44] murarth commented on #17
This appears to be a duplicate of #14 (which shouldn't have been closed). Are you also using OS X?

[2015-03-06 22:57] yann-ledu commented on #17
Yes

[2015-03-06 23:12] murarth commented on #17
Okay, closing this in favor of the aforementioned issue, which I've reopened.

[2015-03-06 23:12] #17 closed

[2015-03-18 17:53] xhjo opened #18 "error running cargo build on windows"
Currently I am trying to build ``rusti`` on my machine (Windows 8.1 64 bit). When I run ``cargo build`` from CL, I get this:

[code]

How can I fix this? MinGW and ``gcc`` are installed. Running ``gcc`` gives me *normal* output.

[2015-03-18 18:04] murarth commented on #18
You are missing the `readline` library.
Unfortunately, there is another issue affecting Windows (#15). I don't know if rusti works at all on Windows right now.

[2015-03-18 18:04] #18 closed

[2015-03-21 16:20] lowks opened #19 "Latest rust broke rusti ?"
The latest rust release `2015-03-20` seems to have broken rusti.
I did a `git pull --prune` before running `cargo run` and here is what I got:

[code]

[2015-03-21 17:40] murarth commented on #19
The last couple nightlies have not been installing properly with `rustup.sh`, so I hadn't seen this problem yet. It's fixed now.

[2015-03-21 17:40] #19 closed

[2015-03-28 16:39] lowks commented on #14
On version `rustc 1.0.0-nightly (199bdcfef 2015-03-26) (built 2015-03-26)` this is still happening.

[2015-04-05 03:44] lowks opened #20 "rusti cannot compile with latest rust release on macos"
Mac version: 10.10.2

Rust version:
[code]
Error produced when trying to run `cargo run`:
[code]

Anyway to get this working ?

[2015-04-05 03:52] murarth commented on #20
The beta channel doesn't allow the use of any unstable APIs. rusti depends on several unstable APIs, including internal compiler functionality which will not be stable any time soon. For now, the only way to use rusti is to use the nightly channel. Passing `--channel=nightly` to rustup will accomplish this.

[2015-04-05 03:52] #20 closed

[2015-04-05 19:56] Sarjo2222 opened #21 "Mac OS X lazy symbol binding failed"
Trying to run Rusti gives the following error message:

[code]

[2015-04-11 14:42] rhododendron opened #22 "Can't compile with latest nightly build"
Ubuntu 14.10 x64
Compiling rusti v0.0.1 (file:///home/roman/Development/rust/rusti)
[code]

[2015-04-11 16:02] murarth commented on #22
[code]
libreadline is not present on your system. On Ubuntu, it can be installed with the command `sudo apt-get install libreadline-dev`

[2015-04-11 16:02] #22 closed

[2015-04-11 17:29] rhododendron commented on #22
Thank you!

[2015-04-15 00:28] max6cn commented on #21
Same here
[code]
[code]

[2015-04-15 14:08] costajob opened #23 "OSX Lion - get an error on PResult import"
[code]

[2015-04-15 17:06] murarth commented on #23
You must be running an outdated Rust nightly build. Update to the latest nightly build (*not* the beta channel).

[2015-04-15 17:06] #23 closed

[2015-04-16 18:48] max6cn commented on #14
This bug still live on nightly
[code]
seems lowks has asked this problem [before] (http://users.rust-lang.org/t/why-is-my-rust-broken-26-02-2015-build/492)

[2015-04-16 18:52] max6cn commented on #2
+1 on this feature

[2015-04-16 19:05] max6cn commented on #21
resolved by @db0168b2a95c13bdfaff20b93f0eafdd2e731a3d , but #14 is still there

[2015-04-17 16:26] sheganinans opened #24 "src/rusti/input.rs:31:38: 31:45 error: unresolved import `syntax::parse::PResult`. There is no `PResult` in `syntax::parse`"
$ cargo build --verbose
       Fresh regex v0.1.26
       Fresh libc v0.1.5
       Fresh log v0.3.1
   Compiling rusti v0.0.1 (file:///home/aistis/Projects/rusti)
     Running `rustc src/rusti/lib.rs --crate-name rusti --crate-type lib -g -C metadata=0f5b8a2f76fd202b -C extra-filename=-0f5b8a2f76fd202b --out-dir /home/aistis/Projects/rusti/target/debug --emit=dep-info,link -L dependency=/home/aist

[2015-04-17 17:51] murarth commented on #24
You must be running an outdated Rust nightly build. Update to the latest nightly build (*not* the beta channel).

[2015-04-17 17:51] #24 closed

[2015-04-17 17:54] sheganinans commented on #24
Hmm, I thought it might have been something like that.

On Fri, Apr 17, 2015 at 10:51 AM, Murarth <notifications@github.com> wrote:

[2015-04-18 21:12] Sarjo2222 commented on #21
This issue is back for me

[2015-05-01 20:27] GregDavidson opened #26 "latest rusti fails to build due to unstable feature with latest rust"
I was unable to build rusti with my previous beta.2 of rust so I installed the
latest beta.4 of rust and cloned the latest rusti.  I got the same problem:

$ cargo build
   Compiling libc v0.1.6
   Compiling regex v0.1.30
   Compiling log v0.3.1
   Compiling getopts v0.2.10
   Compiling env_logger v0.3.0
   Compiling rusti v0.0.1 (file:///home/greg/Play/Lang/Special/Rust/rusti)
src/rusti/lib.rs:12

[2015-05-01 20:36] murarth commented on #26
rusti relies on internal `rustc` APIs. There's no way to operate without them. For this reason, rusti simply cannot be built on beta. If you want to use rusti, you'll need to install Rust on the nightly channel. If you use [rustup](https://github.com/rust-lang/rustup), this can be done by passing `--channel=nightly` to the install script.

[2015-05-01 20:36] #26 closed

[2015-05-01 20:57] murarth opened #27 "rusti cannot be compiled on beta because it uses unstable Rust APIs"
**Note to users**: In order to build and run rusti, you can use [rustup](https://github.com/rust-lang/rustup) to install a nightly build of rusti, by using the `--channel=nightly` flag. Further directions can be found on the rustup page.

Now, on to the details of the issue: Some of the minor unstable features currently in use will likely be worked out and stabilized as Rust progresses; however, r

[2015-05-05 00:16] achanda opened #28 "Broken against nightly"
[code]

Compiler info:
[code]

[2015-05-05 00:17] achanda commented on #28
Duplicate of #14

[2015-05-05 00:17] #28 closed

[2015-05-16 12:09] bluealert opened #30 "compiler error with Rust 1.0 stable"
[code]

[2015-05-16 15:07] murarth commented on #30
Duplicate of #27

[2015-05-16 15:07] #30 closed

[2015-05-18 17:37] durka commented on #14
Inserting `#[export_name = "___morestack_addr"]` right before the definition of `morestack_addr` in `exec.rs` fixes this issue for me.

    rustc 1.2.0-nightly (0cc99f9cc 2015-05-17) (built 2015-05-17)
    binary: rustc
    commit-hash: 0cc99f9cc9b59518f618a2c3f5011000e60f922e
    commit-date: 2015-05-17
    build-date: 2015-05-17
    host: x86_64-apple-darwin
    release: 1.2.0-nightly

[2015-05-18 19:05] murarth commented on #14
@durka: That is very strange. I never understood why this error was happening in the first place. It seems to me that `morestack_addr` is only used internally within rusti and I can't figure how it even winds up being resolved by LLVM. Can you shed any light on this?

[2015-05-18 19:07] durka commented on #14
Yeah, it doesn't make any sense to me either since by the time `LLVMRustCreateJITMemoryManager` is called, `morestack_addr` has already been called and returned.

[2015-05-18 19:08] durka commented on #14
Do we know where in rusti's code the LLVM ERROR occurs? It's certainly not at the `morestack_addr` call site.

[2015-05-18 19:18] murarth commented on #14
There are only a few calls to the LLVM API from rusti. I would guess it's when the ExecutionEngine is built (with an empty LLVM Module created by the rustc API). Running rusti with env var `RUST_LOG=rusti=debug` should give an indication of when it happens.

[2015-05-18 19:20] durka commented on #14
seas800:rusti alex$ RUST_LOG=rusti=debug ./target/debug/rusti
    DEBUG:rusti::exec: using sysroot: "/usr/local/Cellar/rust/nightly"
    DEBUG:rusti::exec: loading crate /usr/local/Cellar/rust/nightly/lib/rustlib/x86_64-apple-darwin/lib/libstd-11582ce5.dylib
    rusti=> 1+1
    DEBUG:rusti::repl: read program: Input { attributes: [], view_items: [], items: [], statements: ["1+1"], last_expr: true

[2015-05-18 19:23] durka commented on #14
But `libstd-11582ce5.dylib` references only `___morestack` not `___morestack_addr`.

[2015-05-18 19:26] durka commented on #14
@murarth I assume you've seen this https://users.rust-lang.org/t/why-is-my-rust-broken-26-02-2015-build/492

[2015-05-18 19:37] murarth commented on #14
Okay, I was wrong. It looks like the initial construction goes fine. (The first "loading crate" message isn't immediately followed by an error.) There's not another log message there to make it clear, but it seems that `LLVMExecutionEngineAddModule` in `add_module` is causing the error, which must be when the first actual code is linked in the ExecutionEngine.

That link is interesting. It would a

[2015-05-18 19:39] durka commented on #14
Yeah... but it isn't? I tried changing `morestack_addr` to `find_morestack_addr` in case it was a name shadowing thing, but that didn't fix it.

[2015-05-18 19:47] durka commented on #14
It seems like it could be a Rust bug, in that `morestack_addr` should be in `libmorestack.a` (i.e. [`morestack.S`](https://github.com/rust-lang/rust/blob/master/src/rt/arch/x86_64/morestack.S)), but that is way more magic than I can decipher!

[2015-05-18 19:59] murarth commented on #14
I don't think adding the symbol to `libmorestack.a` would solve this issue. The symbol for `morestack` needs to be fed to the ExecutionEngine. I think the same may need to be done for `morestack_addr`. Unless LLVM's internal code is meant to be creating that symbol independently. As this error doesn't occur on Linux (in my experience), I think LLVM is meant to be handling it.

I'm not very knowled

[2015-05-19 14:48] Sarjo2222 opened #32 "Linking Error"
Trying to build rusti gives this error:

        Compiling rusti v0.0.1 (file:///Users/.../Documents/RProjects/rusti)
	error: linking with `cc` failed: exit code: 1
	note: "cc" "-m64" "-L" "/usr/local/lib/rustlib/x86_64-apple-darwin/lib" "-o" "/Users/.../Documents/RProjects/rusti/target/debug/rusti" "/Users/.../Documents/RProjects/rusti/target/debug/rusti.o" "-Wl,-force_load,/usr/local/lib/rustlib

[2015-05-19 16:05] murarth commented on #32
Can you tell me which version of Readline you have installed?

[2015-05-19 16:46] Sarjo2222 commented on #32
readline-6.3.8 (installed+linked with homebrew)

[2015-05-19 16:54] murarth commented on #32
Hm. Apparently, that variable just doesn't exist in readline for some platforms. I'll have a fix for this soon.

[2015-05-19 17:54] murarth commented on #32
I removed the variable, but then I realized that there's another variable that serves a similar purpose. Can you grep your readline include files and tell me whether `rl_completion_append_character` exists?

[2015-05-19 18:29] Sarjo2222 commented on #32
bash-3.2$ grep -r "rl_completion_append_character" /usr/local/Cellar/readline/*
/usr/local/Cellar/readline/6.3.8/CHANGES:    rl_completion_append_character to completed words.
/usr/local/Cellar/readline/6.3.8/include/readline/readline.h:extern int rl_completion_append_character;
/usr/local/Cellar/readline/6.3.8/include/readline/readline.h:   rl_completion_append_character will not be appended. */

[2015-05-19 18:40] murarth commented on #32
All right. Great. I've solved the issue and restored the original behavior.

[2015-05-19 18:55] Sarjo2222 commented on #32
This seems to have solved the problem. Thanks.

[2015-05-19 18:55] #32 closed

[2015-05-19 18:56] Sarjo2222 commented on #14
Inserting #[export_name = "___morestack_addr"] also works for me

[2015-05-19 19:56] murarth commented on #14
I'm working on a fix that I'll push to the Rust repo. This bug isn't the result of any rusti code, but rather the code in Rust's LLVM wrapper that builds the `ExecutionEngine`.

[2015-05-19 20:17] max6cn commented on #14
I was counting days in past month(tried, but failed due to lack of knowledge about `llvm`). Also I have finished some emacs REPL mode support for `rusti`, will paste somewhere as long as this fix been released!

[2015-05-30 18:48] AGhost-7 commented on #27
So, is there some way to ignore the error? If so, how about adding the details to the readme? I see the REPL being used by people like me, who are new to rust, which don't know how to force it to compile.

[2015-05-31 15:59] murarth commented on #27
No, there's no way to ignore the error if you're using stable or beta releases. Rusti must be built on the nightly channel. I suppose it's reasonable that the readme could draw more attention to this.

[2015-06-05 21:52] cjwelborn opened #36 "multiline input causes 'parse_program' thread to panic."
Typing in a multiline statement (like a function definition) prints an error after every line, but seems to work otherwise.

I was just trying to type in some little function to make sure everything was working:
[code]

Example:
[code]

I'm using the latest nightly from `multirust`:

- `rustc 1.2.0-nightly (613e57b44 2015-06-01) (built 2015-06-02)`
- `cargo 0.3.0-nightly (06dbe65 2015-05-29) (buil

[2015-06-05 22:00] murarth commented on #36
The panic is normal, actually. The problem is that the panic message is being printed. I'll look into this. It shouldn't be a difficult fix.

[2015-06-05 22:17] murarth commented on #36
Fixed. The problem was that the `env_logger` package recently set the default logging level to `Error`, which caused rusti to emit those messages.

[2015-06-05 22:17] #36 closed

[2015-06-05 22:33] cjwelborn commented on #36
Awesome, thanks for the quick turnaround.

[2015-06-11 00:22] #14 closed

[2015-06-11 00:25] murarth commented on #15
@bombless: I think this issue has been solved by a recent rust-lang change that landed in nightly `(2228ce10c 2015-06-09)`. Can you confirm?

[2015-06-11 00:27] murarth commented on #14
@Sarjo2222, @durka: Can you confirm that this issue is resolved in the latest nightly `(2228ce10c 2015-06-09)`?

[2015-06-11 00:28] murarth commented on #21
@Sarjo2222, @max6cn: Are you still experiencing this issue?

[2015-06-11 00:35] max6cn commented on #14
Verified on a Mac
[code]

[2015-06-11 00:40] max6cn commented on #21
No, I think it's safe to close this issue.

[2015-06-11 00:58] durka commented on #14
:+1:

[2015-06-11 14:28] fczuardi opened #38 "failed fresh install on mac os x"
## Steps to reproduce:

1 As instructed by the readme, I've installed the nightly version of rust with:
[code]
2 Also installed gnu readline with
[code]
3 Cloned the repo with:
[code]
4 Build the project with:
[code]

## Expected results

The REPL should be installed and usable

## Actual results
Error prevented the project to build:
[code]

[2015-06-11 14:30] fczuardi commented on #38
My rustc version:

[code]

[2015-06-11 14:32] fczuardi commented on #38
OSX version:

[code]

[2015-06-11 15:56] murarth commented on #38
There are often small changes to the unstable APIs on which rusti depends.
Thanks for the issue. This has been fixed in the most recent commit.

[2015-06-11 15:56] #38 closed

[2015-06-11 16:12] Sarjo2222 commented on #21
Seems to be resolved for me also

[2015-06-11 16:13] murarth commented on #21
All right. Closing for now.

[2015-06-11 16:13] #21 closed

[2015-06-11 21:34] murarth opened #39 "Implement a readline alternative on Windows"
The recommended method of using GNU Readline on Windows is to install Cygwin, which is an unappealing option for some users.
A Windows version of the `rusti::readline` module could be implemented using Windows' console API.

[2015-06-11 21:34] murarth commented on #39
cc @retep998

[2015-06-12 01:37] bombless commented on #15
I compiled rusti with latest rustc but it seems that recent change of libsyntax breaks the code.
I'll look into it later.

[2015-06-12 01:40] murarth commented on #15
@bombless: Yes, there was a breaking change today. `(fbb13543f 2015-06-11)` is the latest nightly and rusti should compile with that nightly build.

[2015-06-13 00:24] bombless commented on #15
Cheers, it works!

[2015-06-13 00:24] #15 closed

[2015-06-13 02:52] bombless commented on #39
Hmm I just copy 2 dll files of readline to rustlib directory to compile rusti on Windows.
What is that cygwin thing?

[2015-06-13 03:04] murarth commented on #39
Oh. Well, I suppose it would still be nice to remove the unnecessary dependency. Most Unix systems have readline installed, but it's an extra step for most Windows users.

[2015-06-13 03:35] bombless commented on #39
Hmm maybe we first remove the feature to scroll up line history for Windows, then the fix will be easier.
I cannot scroll up because the up arrow key function differently in MSYS/CYGWIN shell.
(I believe this is a bug long time ago but it seems that nobody cares.)

[2015-06-13 03:37] bombless commented on #39
(like this easy https://github.com/bombless/rusti/commit/980c575b62dc597f9cd67400e999fe1765418d8c )

[2015-06-13 03:47] bombless commented on #39
nvm I'll try make another crate to wrap readline and then do something like [this](https://github.com/conradkleinespel/rustastic-password/blob/b07a349becbed49a84c0ce4db607d4b918ad8a2e/Cargo.toml) (which looks awful)

[2015-06-13 03:57] murarth commented on #39
@bombless: I don't intend to remove any features for either Windows or Unix platforms. The goal is to continue using readline on Unix systems, but use an alternative on Windows that provides basic functionality. The idea being that Unix users will generally expect a readline-like interface, as is used by popular shell and REPL utilities.

I don't know what sort of interface popular Windows shells

[2015-06-21 20:26] anryko opened #40 "Build failed on rustc 1.2.0-nightly (9ad0063a1 2015-06-20)"
[code]

[2015-06-21 20:56] murarth commented on #40
Fixed in the latest commit.

[2015-06-21 20:56] #40 closed

[2015-06-23 11:17] anryko commented on #40
Works. Thanks!

[2015-06-30 23:54] xmao opened #41 "Can't compile on rust 1.1"
Rusti can't compiled on Rust 1.1. Can anybody help?

src/rusti/exec.rs:21:5: 21:19 error: unresolved import `rustc::ast_map`. There is no `ast_map` in `rustc`
src/rusti/exec.rs:21 use rustc::ast_map;
                         ^~~~~~~~~~~~~~
src/rusti/exec.rs:32:5: 32:43 error: unresolved import `syntax::feature_gate::UnstableFeatures`. There is no `UnstableFeatures` in `syntax::feature_gate`
src/ru

[2015-06-30 23:57] murarth commented on #41
Are you using the latest nightly build of Rust? If not, you should update using [rustup](https://github.com/rust-lang/rustup) with `--channel=nightly`.

[2015-07-17 07:59] kxxoling commented on #38
I've got the same error on OS X, but my rust version is 1.1.0:

[code]

Error log:

[code]

[2015-07-17 16:24] murarth commented on #38
@kxxoling: You appear to be using the stable build of Rust. rusti targets the latest nightly build of the Rust compiler. It's inconvenient, I know, but it's unavoidable at this time.

[2015-07-17 16:25] #41 closed

[2015-07-18 02:04] kxxoling commented on #38
@murarth Um, but I need the stable version to build things... When will it to support Rust stable?

[2015-07-18 02:17] murarth commented on #38
@kxxoling: Not in the foreseeable future. rusti uses APIs internal to the Rust compiler.

[2015-07-26 10:45] wenLiangcan opened #42 "Failed to build with nightly (82d40cb2b 2015-07-24)"
[code]

[2015-07-26 16:54] #42 closed

[2015-08-05 22:36] dashesy opened #43 "rusti with Jupyter"
I want to learn `rust` but in the context of data processing, and `rusti` looks like the way to go.

Do you have any plans to support a kernel for [iPython](https://jupyter.org/) like [this](https://github.com/ipython/ipython/wiki/IPython-kernels-for-other-languages)?
It should at least make some common problems (readline, zmq, history, ...) easier, and a full integration means we can write notebo

[2015-08-05 23:39] murarth commented on #43
I'm not familiar with IPython or Jupyter, but this looks like a pretty straightforward project.
I'll definitely give it a look and see what I can do.

[2015-08-07 20:48] xhevahir opened #44 "Failed to build with rustc 1.4.0-nightly (1181679c8 2015-08-07)"
src/rusti/repl.rs:436:18: 436:34 error: unresolved name `token::get_ident` [E0425]
src/rusti/repl.rs:436             if &*token::get_ident(ident) == self.fn_name {
                                       ^~~~~~~~~~~~~~~~
note: in expansion of if let expansion
src/rusti/repl.rs:435:9: 446:10 note: expansion site
src/rusti/repl.rs:436:18: 436:34 help: run `rustc --explain E0425` to see a detailed exp

[2015-08-07 20:51] murarth commented on #44
This was fixed a short while ago. Download the latest revision of `rusti` and it should build just fine.

[2015-08-07 21:07] #44 closed

[2015-08-31 11:41] mseri commented on #43
+1 for this

[2015-09-04 23:53] christopherdumas opened #47 "When compiling: Unresolved enum variant, struct or const `FkItemFn` [E0419]"
I'm on `rustc 1.4.0-nightly (7780408af 2015-09-01)`, and when I run `cargo build`, I get:

[code]

Verbose output (if it helps, which I doubt):
[code]

[2015-09-05 00:45] murarth commented on #47
It appears there have been a number of recent changes in `rustc` crates. I've pushed a fix that will allow rusti to compile on today's nightly, `(2727a8e1c 2015-09-04)`. You may have to update your Rust installation for this to work.

[2015-09-05 01:21] #47 closed

[2015-09-21 06:38] steakknife opened #48 "Build error on nightly"
### Environment

rusti e0214830c3c37f9e8845b8606149d417fde2fb34
rustc 1.5.0-nightly (6e5a32547 2015-09-19)

### Output

[code]

[2015-09-21 07:01] #48 closed

[2015-10-04 19:22] durka opened #49 "does not run with latest nightly"
On nightly 2015-10-3:

    $ cargo run --release
    /Users/alex/Programming/rust/rusti/target/release/rusti: fork: retry: No child processes

The message repeats until the process is forcibly killed (^C, ^Z, etc, it takes a few).

OSX 10.9.5. Works fine with nightly-2015-09-19.

[2015-10-04 23:00] honorabrutroll commented on #49
No issue here on nightly 2015-10-3 with Arch Linux (kernel 4.1.9-1-ck).

[2015-10-04 23:35] murarth commented on #49
The error appears to be that the process is not being permitted to fork. `rusti` does fork once during the startup process, in order to run the command `rustc --print sysroot`. What kind of environment are you running this in? Does it have a particularly low value for `ulimit -u`?

[2015-10-05 04:34] durka commented on #49
Huh... the error went away when I tried it again a few hours later. Maybe Spotlight was taking all the PIDs to reindex my hard drive, or something.

[2015-10-05 04:34] #49 closed

[2015-10-11 21:53] xasmx opened #51 "Crash trying to print value from external crate"
Trying to print a value for a type defined in an external crate is crashing rusti:

$ cargo run -- -L testi/target/debug/
     Running `target/debug/rusti -L testi/target/debug/`
rusti=> extern crate testi;
rusti=> use testi::Foo;
rusti=> Foo
LLVM ERROR: Program used external function '__ZN21Foo...std..fmt..Debug3fmt20h8530f8b2d5755ad6iaaE' which could not be resolved!
An unknown error occurred

T

[2015-10-12 17:11] murarth commented on #51
The issue here is that rusti needs both an `rlib` and a `dylib` build available for any crate it wants to load, but it doesn't check that both of these exist before trying to run the code that depends on them. Therefore, LLVM's linker encounters a missing symbol and aborts.

To build both `rlib` and `dylib` for a project, you can either add `crate-type = ["rlib", "dylib"]` to the `[lib]` section o

[2015-10-13 18:16] sdwfrost opened #52 "rusti does not build with latest nightly"
Using rustc 1.5.0-nightly (81b3b27cf 2015-10-11)

[code]

[2015-10-14 16:35] murarth commented on #52
Fixed in the latest commit: 4da03f

[2015-10-14 16:37] #52 closed

[2015-10-19 13:41] aidylewis commented on #2
I also would be interested in this feature, otherwise I will have to write tests!

[2015-10-23 06:47] 7sharp9 opened #53 "I get the following error when building on the nightly channel"
[code]

[2015-10-23 18:04] #53 closed

[2015-10-24 21:45] kookerus opened #54 "Racer completion not working"
I just installed rusti and racer, and added both to my path. Both are functional, but I can't get any completions in rusti. Did I install something wrong, or is this a bug?

[2015-10-24 22:09] jonas-schievink commented on #54
Can you run with `RUST_LOG=rusti=debug` (I hope that's right) and post the output after trying to complete a path?

[2015-10-24 22:34] kookerus commented on #54
I'm sorry, am I supposed to run that in the terminal before starting rusti? If that's the case, I'm not seeing any kind of log.

[2015-10-24 22:51] jonas-schievink commented on #54
It's an environment variable that controls logging (the env_logger crate). Try running `RUST_LOG="rusti=debug" rusti`

[2015-10-25 05:01] kookerus commented on #54
Pressing tab after typing "printl" gives:
<code>DEBUG:rusti::readline: completion fn on "printl", printl - 0 (6)
DEBUG:rusti::completion: completion input: text="printl" end=6</code>

[2015-10-25 06:59] murarth commented on #54
@kookerus: It seems you're trying to get rusti to complete the name for the standard macro `println`. Using the version of `racer` I have currently installed, it appears that macros are simply not a candidate for completion. When I run `racer complete printl`, it produces no output. Compare to `racer complete std` which shows that `std` is a matching name.

[2015-10-25 14:35] kookerus commented on #54
Okay, I see. Thanks for letting me know, sorry about taking up your time.

[2015-10-25 14:35] #54 closed

[2015-10-25 22:44] murarth commented on #7
Implementation of this feature is still waiting on major compiler API changes, but @Kimundi had a great idea related to this and I don't want to forget it. https://github.com/rust-lang/rfcs/issues/655#issuecomment-150979236

[2015-11-01 07:28] ivan opened #55 "Build fails with error: use of unstable library feature 'path_ext_deprecated'"
[code]

[code]

[2015-11-01 18:37] #55 closed

[2015-11-02 22:57] elyase opened #56 "Build fails on rust nightly"
I am getting the following errors:

[code]

[2015-11-03 07:26] murarth commented on #56
Your nightly version `(9d3e79ad3 2015-10-10)` is too old. Most recently, rusti was tested to run on nightly `(1a2eaffb6 2015-10-31)`. You can either update your installation or checkout an older revision of rusti.

[2015-11-03 07:26] #56 closed

[2015-12-06 20:19] 7sharp9 opened #59 "Add a way to time how long functions take to execute"
e.g. In F# interactive you would use:
[code]
Its a nice feature in F#, I thought it may be useful in rusti.  Im not exactly sure how easy it would be to add?

[2015-12-07 05:45] murarth commented on #59
That does look useful. It seems pretty straightforward to add as a rusti command. The only obvious impediment would be finding an operating system-independent means of measuring CPU time used over a span of real time.

[2015-12-09 13:17] nicrgren opened #60 "Cant run built executable"
I can run rusti fine using cargo run, but whenever I build it using cargo build, both with and without --release and attempt to run rusti from the target/{debug|release} dir I get the following error:
`
dyld: Library not loaded: x86_64-apple-darwin/stage2/lib/rustlib/x86_64-apple-darwin/lib/librustc_driver-8cf6ce90.dylib
  Referenced from: /Users/mitur/gits/rusti/target/debug/./rusti
  Reason: ima

[2015-12-10 20:03] murarth commented on #60
@mitur: Are you using multirust? Some googling has turned up what appear to be similar issues when using multirust.

[2015-12-11 13:46] mitur commented on #60
@murarth Yes I am. Ok, I will check it out.
Thanks for your quick reply, sorry for bringing it up here.

[2015-12-27 10:41] petevine opened #63 "Build fails on arm linux"
Trying to build with an `armv7` 1.7 nightly from about a week ago, I'm getting this error:

[code]

[2015-12-27 18:38] murarth commented on #63
I've just checked and rusti builds successfully with the latest nightly, `(0c7c94e8a 2015-12-26)`.

You can look at the commit logs to see when changes have been made to support a new nightly build. If your nightly is older than the most recent fix, you can either use an older revision of rusti or download a new nightly build.

[2015-12-27 18:38] #63 closed

[2016-01-07 08:40] sumproxy commented on #38
Can't build on Mac OS X El Capitan
I'm using multirust nightly
Here's the build output:
[code]

[2016-01-18 07:40] ivan opened #65 "Build fails with error: unresolved name `config::No` and mismatched types"
Building rusti 4a667645edaea0e88275fd0fe60b33897105e0a5 with rust master fails with

[code]

[code]

[2016-01-18 20:21] #65 closed

[2016-01-19 10:56] JoePython1 opened #66 "Compilation failure in Ubuntu 14.04"
$ rustc --version
rustc 1.5.0 (3d7cd77e4 2015-12-04)

$ cargo build
 Downloading tempfile v1.1.3
 Downloading getopts v0.2.14
 Downloading rand v0.3.12
   Compiling getopts v0.2.14
   Compiling winapi-build v0.1.1
   Compiling regex-syntax v0.2.2
   Compiling winapi v0.2.5
   Compiling libc v0.2.4
   Compiling kernel32-sys v0.2.1
   Compiling advapi32-sys v0.1.2
   Compiling memchr v0.1.7
   Compi

[2016-01-20 18:06] murarth commented on #66
As noted in the [Building](https://github.com/murarth/rusti/#building) section of the README, rusti cannot be built using the stable release of the Rust compiler. The nightly release is required to access unstable features, upon which rusti depends. You can use [multirust](https://github.com/brson/multirust) to enable the use of the nightly compiler only when building rusti.

[2016-01-20 18:06] #66 closed

[2016-02-24 19:20] jozic opened #67 "can't build/run master"
i cloned rusti repo, have nightly rust installed, but can't build rusti

[code]

is there something I'm missing?

[2016-02-24 22:52] murarth commented on #67
Yes. You're missing `libreadline`. On systems with APT installed (Debian, Ubuntu, Mint), it can be installed with the command (as root) `apt-get install libreadline6`.

[2016-02-24 22:52] #67 closed

[2016-02-25 17:15] jozic commented on #67
unfortunately this didn't help
[code]
`cargo build` still fails with same error

[2016-02-25 17:27] murarth commented on #67
Hm. Try `libreadline6-dev`?

[2016-02-25 17:43] jozic commented on #67
this helped, thanks!
do you think this should be mentioned somewhere in README?

[2016-02-25 17:55] murarth commented on #67
I've just merged a PR to add such a note. Helpful people all around. :D

[2016-02-25 18:04] jozic commented on #67
:) nice!

[2016-02-26 13:33] gowthamsadasivam opened #69 "Couldn't run rusti compiled with multirust : error while loading shared libraries"
I was following the guidelines,

And I got rusti running now. so I wanted to copy it to my /usr/local/bin directory to have it run out of the build directory as specified as,

But rusti didn't execute independently. Instead it drops an error:
**error while loading shared libraries: librustc_driver-fd663c41.so: cannot open shared object file: No such file or directory**

Screen:
![rusti](https://cl

[2016-02-26 16:55] murarth commented on #69
`multirust` sets some environment variables when running `rustc` or `cargo`. If you run rusti as `multirust run nightly rusti`, it should set these variables. It may be most convenient to create an alias for this in your `~/.bashrc`.

[2016-02-28 13:02] gowthamsadasivam commented on #69
Thanks for the quick response. Yes, running it by `multirust run nightly rusti` works great :+1:. It would be great to have this step in the README.ME file, will be really helpful for the first timers like me.

[2016-02-28 13:02] #69 closed

[2016-03-04 07:54] nixpulvis commented on #2
being able to play around with my functions and types as I develop would be pretty awesome.

[2016-03-04 10:24] infinity0 opened #71 "Seems to also require libedit-dev"
I'm building this on Debian using [rust-nightly](https://launchpad.net/~infinity0/+archive/ubuntu/rust-nightly) and [cargo](https://packages.debian.org/sid/cargo), and I have to install libedit-dev as well as libreadline-dev:

[code]

Not sure if this is expected for you - this repo doesn't mention libedit or even contain the substring "edit".

[2016-03-04 18:02] murarth commented on #71
This is strange. Not expected. On my system (Ubuntu 14.04.4), `libedit-dev` is not installed. `libreadline` does not appear to link to `libedit` and, as you point out, `libedit` is not mentioned anywhere in this project. Could `cc` be incorrectly inferring that `libedit` is used? Google searches are not turning up anything that explains this.

[2016-03-18 16:37] ritalin commented on #39
@murarth I've found [readline module](https://github.com/shaleh/rust-readline) implemented in pure rust.
Can you apply this module?

[2016-03-24 13:05] octplane commented on #43
I've started playing with https://crates.io/crates/jupyter-kernel and your project. One thing that's missing is to declare rusti in crates so that proper dependency declaration can be done :)

[2016-04-14 13:01] kindlychung commented on #27
Doesn't compile on nightly either:

[code]

[2016-04-14 17:24] murarth commented on #27
@kindlychung: Yes, it does. On the latest nightly.

https://travis-ci.org/murarth/rusti/builds/123113356

Updating to the latest nightly or checking out an older revision of rusti will solve your issue.

[2016-04-14 19:22] kindlychung commented on #27
So `multirust run nightly` does not bring you the latest nightly?

[2016-04-14 19:51] kindlychung commented on #60
Someone found a solution:

[code]

See here: https://gist.github.com/paulp/dc018b84aeb9f7533322

[2016-04-26 09:24] a0x opened #74 "Cannot build with latest nightly rustc"
I installed the latest rustc nightly, which is `rustc 1.10.0-nightly (645dd013a 2016-04-24)`, and turned out that the project cannot be built.

[code]
Among those errors, I found out `rustc_driver` module is no longer exist in the latest rustc. I think this is a truly serious problem.

[2016-04-26 15:45] murarth commented on #74
Internal `rustc` APIs are continuously subject to change. Often, this takes the form of crates or modules being moved or renamed. Rarely is any necessary functionality lost. This will be fixed shortly. Thank you for filing the issue.

[2016-04-26 16:09] murarth commented on #74
This is now fixed in the latest commit: b1873f8c8adbad02a59ccb8993ed1dd2bc480a68

[2016-04-26 16:09] #74 closed

[2016-07-12 10:00] JIghtuse opened #80 "Discrepancy between help output and performed actions"
If you run rusti with `--help` option, it will tell you about:

1. Two options with arguments, which it executes and exits.

        -c COMMAND          Execute a rusti command and exit
        -e PROGRAM          Execute a one-line program and exit

2. Interactive mode option, which executes file and starts REPL.

        -i, --interactive   Run rusti interactively even with a file

Now, if you u

[2016-07-12 18:23] murarth commented on #80
Yes, I agree that there is an absence of information in the help text for what `-i -e '...'` should do. I don't see any reason that `-i` shouldn't function when either `-c` or `-e` is present, so I'll go ahead and update the help text for `-i` to include this.

[2016-07-12 18:24] #80 closed

[2016-07-12 18:52] JIghtuse commented on #80
@murarth thanks!
As a side note, can you look at https://github.com/JIghtuse/rusti/commit/993739b62c3949c7dc786496f855fec574d1d74d ? I tried to add `:edit` command and it kinda works. It is almost useless for now, because rusti can't "reload" source file. Do you think it would be useful?

[2016-07-12 20:00] murarth commented on #80
Without the ability to reload files, I don't see the motivation of having an edit command. But it will be something to revisit when more code manipulation features are sorted out.

[2016-07-16 16:23] SRGOM opened #81 "Unresolved import errors (Ubuntu 14.04, rustc 1.11.0 nightly, rusti 815b0ee)"
I'm getting the following errors when compiling on Ubuntu 14.04 with rustc version rustc 1.11.0-nightly (bb4a79b08 2016-06-15), rusti version: 815b0ee506106fb05ff213312419a86eee422288

[code]

I have done a `sudo apt-get install libreadline-dev libedit-dev` before downloading the repo and doing a `cargo build`

[2016-07-16 17:03] #81 closed

[2016-07-16 17:06] murarth commented on #81
Your nightly build is a bit outdated. There are frequent changes to rusti to keep up with nightly. (You can look for "Fix for nightly" commits in the commit log). So, you can either update to the current nightly build (be sure to pull from rusti again because I just merged a fix) or search for a nightly fix commit whose date precedes your current nightly.

[2016-07-16 17:36] SRGOM commented on #81
I'm getting another set of errors fun the latest nightly.

[2016-07-16 18:06] murarth commented on #81
Have you pulled from rusti again? There was another breaking change on today's nightly. I merged a fix just about an hour ago.

[2016-07-17 09:44] SRGOM commented on #81
rustc 1.12.0-nightly (4db1874f4 2016-07-15) and rusti   ff1ae06 (which is my earlier rusti + your fix) play along fine and I can see rusti. Thanks for your maintaining this so actively.

[2016-08-04 18:01] murarth opened #86 "LLVM ExecutionEngine no longer supported by rustc"
The API was removed: rust-lang/rust#35174

[2016-08-06 21:25] agaviria commented on #60
@murarth @kindlychung  Any suggestions for `rustup` users?  There seems to be a shared lib mismatch for the following:

[code]

Env: `OSX 10.11.6 - rustup nightly 2016-08-01`

[2016-08-18 23:53] akavel commented on #39
maybe https://github.com/kkawakam/rustyline ? I don't know how well it works, only that it's the first seemingly pure-Rust Google result for "rust readline windows" for me as of 2016.08

[2016-08-19 00:08] murarth commented on #39
I'm working on a cross-platform readline alternative that will soon be released and that will solve this issue.

[2016-08-23 22:01] akavel commented on #39
In the meantime, I've tried plugging in [rustyline](https://github.com/kkawakam/rustyline) as mentioned above. [My fork](https://github.com/akavel/rusti) [[diff](https://github.com/murarth/rusti/compare/master...akavel:master)] seems to build successfully with nightly-2016-08-01; but on `cargo run`, it shows no prompt, and then after pressing [Enter] I'm seeing an assertion failure:
[code]

Do you

[2016-08-23 22:15] akavel commented on #39
One more session in case you were interested, showing some slightly more interesting behavior before ultimately crashing too:
[code]

[2016-08-24 05:33] murarth commented on #71
Closing as `rusti` no longer links `libreadline`.

[2016-08-24 05:33] #71 closed

[2016-08-24 05:38] murarth commented on #39
Closing this because the new input reader, [linefeed](https://github.com/murarth/linefeed), is both cross-platform and not readline.

@akavel: If you're still experiencing that error on the new HEAD of master, go ahead and file an issue for it.

[2016-08-24 05:38] #39 closed

[2016-08-24 18:45] akavel opened #88 "Assertion failed (crash) on Windows"
[code]
See also: https://github.com/murarth/rusti/issues/39#issuecomment-241894475 &mdash; my environment is still the same, with newest rusti (f9a5ded292a30dc93059f9baec89dcbcc8299719).

[2016-08-24 18:45] akavel commented on #39
unfortunately, still not good :(

[2016-08-24 18:50] akavel opened #89 "Crash when pressing Backspace on Windows"
After starting and pressing <kbd>Backspace</kbd>, the app crashes (regardless if it's first Backspace, or after typing something and trying to correct it):
[code]

[2016-08-24 20:17] akavel commented on #89
Running under nightly-...-msvc (instead of -gnu I used originally), I got more detailed stacktrace:
[code]

[2016-08-24 22:02] murarth commented on #88
What's the output of `rustc -vV`?

[2016-08-24 22:03] murarth commented on #89
I've pushed a fix for this. It turns out I need to be more careful with 16-bit integers. Thanks for the issue.

[2016-08-24 23:49] akavel commented on #88
[code]
Also, the same crash happens in nightly-2016-07-29, while the earlier ones seem not to compile.

[2016-08-25 00:01] akavel commented on #89
Um, not there yet, I believe? I can't see any new commits

[2016-08-25 00:03] murarth commented on #88
You'll have to check out an older revision of rusti to compile with an older nightly. Look for commit messages containing "Fix for nightly".

When you find a nightly build that works, let me know and I'll add a note to the README about it. It's too late to fix any of this in the Rust compiler because it's no longer supported.

[2016-08-25 00:05] murarth commented on #89
Oh, I'm sorry. I had pushed the fix to linefeed, the crate that handles input reading, but neglected to update the dependency here. I've definitely pushed it now. Double checked. I promise.

[2016-08-25 21:47] akavel commented on #88
I went back as far as I could without merge conflicts while rebasing the *linefeed*-adding patches (excluding README.md and Cargo.lock). This way, I managed to reach rust nightly-2016-05-10 (rusti commit 4d0b3a68db3e925d3d6a9132ec3c40c71cf1083c) &mdash; but unfortunately I still encountered exactly the same crash message. (I don't know if it's important, but I had to delete Cargo.lock each time, o

[2016-08-25 21:52] akavel commented on #89
I confirm this is now fixed.

[2016-08-25 21:52] #89 closed

[2016-08-25 22:21] murarth commented on #88
Strange. I don't know how this error could be happening. Up until about `2016-08-01`, there were still `ExecutionEngine` tests in the Rust compiler, which must have been passing on supported Windows platforms.

[2016-08-26 07:59] akavel commented on #88
Doesn't the commit message in https://github.com/rust-lang/rust/pull/35174/commits/81df89fc2d6ba1b55ab20b0615b8523a6e90963f explicitly claim "the code has no tests"?

[2016-08-26 08:01] akavel commented on #86
Are there any possible venues for going forward given this situation?

[2016-08-26 17:30] murarth commented on #88
The test had been removed just a few days prior: https://github.com/rust-lang/rust/pull/34743/commits/5fa55781bd77f7a9fbdb3af8fa4e1b0cd0b1cf06

The test was skipped on `-msvc` Windows builds, but it should still have been passing on `-gnu` builds.

[2016-08-26 17:32] murarth commented on #86
Interpreting MIR output may be an option. There's a project that does that: https://github.com/solson/miri

I don't know how well that project functions or how effective that method is.

[2016-08-26 19:09] murarth commented on #86
I've taken a quick look at `miri` and it looks fairly complete. MIR interpretation could be the way to implementing some of the features people have come to expect from REPLs (and are currently lacking in rusti). This looks very promising.

[2016-08-26 20:29] akavel commented on #86
I've also taken a look; I've tried to focus on known limitations, which seem enumerated quite thoroughly in the [miri-report.pdf](https://solson.me/miri-report.pdf) (having which is already quite a good sign for the project's quality). Then I tried to skim over the commits since ~Apr 15 (date of the report) to see what was done since then. Summarizing my understanding of what's currently missing:

[2016-08-26 21:03] murarth commented on #86
Yes, there are limitations. `ExecutionEngine` has some limitations, too.

FFI and intrinsics struck me as two of the biggest hurdles for MIR interpretation. C FFI could be done with existing external libraries. Rust FFI (should one wish to load a compiled crate) would be a more difficult task.

[2016-08-27 02:50] murarth commented on #86
There are `libffi` bindings for Rust: https://github.com/tov/libffi-rs

`low` may have what rusti needs.

[2016-09-04 02:48] djanderson opened #90 "rusti: error while loading shared libraries: librustc_driver-c8005792.so: cannot open shared object file: No such file or directory"
Following the README directions verbatim:

 - `rustup install nightly-2016-08-01`
 - `rustup run nightly-2016-08-01 cargo install --git https://github.com/murarth/rusti`
 - `rusti`

[code]

[2016-09-04 02:59] djanderson commented on #90
Further:

I obviously tried `sudo ldconfig`

[code]

[2016-09-04 08:18] murarth commented on #90
You have to run `rusti` using `rustup`, too.

    rustup run nightly-2016-08-01 ~/.cargo/bin/rusti

[2016-09-04 17:44] djanderson commented on #90
Huh, okay. I had tried `rustup run nightly-2016-08-01 rusti` and had gotten `rustup run nightly-2016-08-01 ~/.cargo/bin/rusti`.

Now however, I'm getting another error:

[code]

[2016-09-04 21:21] murarth commented on #90
What terminal software are you using?

[2016-09-04 21:38] djanderson commented on #90
emacs shell. Other languages' interpreters I've used recently behave correctly (python, ipython, scala)

[2016-09-04 22:08] murarth commented on #90
Apparently, Emacs does not provide a `terminfo` entry and expects programs to treat it as a "dumb" terminal. rusti's new readline replacement, [`linefeed`](https://github.com/murarth/linefeed), does not currently support "dumb" terminals (out of laziness).

I've filed an issue for this on `linefeed` (murarth/linefeed#5) and so I'm now closing this issue.

[2016-09-04 22:08] #90 closed

[2016-09-05 07:01] murarth commented on #90
@djanderson: Until `linefeed` has better support for dumb terminals, I have at least pushed a change that will cause an error in this case instead of a panic. That way, `rusti` can (and now does; checkout the latest commit) catch the error and fallback to just plain reading from `stdin`. It's not optimal, but it's a little better than a panic.

[2016-09-06 01:39] willcrichton commented on #86
I updated my own mini-REPL to work with the latest nightly: https://github.com/willcrichton/lia/blob/master/lia-jit/src/lib.rs

It uses the ExecutionEngine from [llvm-rs](https://github.com/TomBebbington/llvm-rs).

[2016-09-07 02:44] djanderson commented on #90
@murarth, just tried it out... was usable. Thanks!

[2016-09-08 08:56] wuranbo commented on #60
@agaviria  same as you. OSX and rustup nightly 2016-08-01. Any help? Thank you.

[2016-09-08 09:00] wuranbo commented on #60
@agaviria  I got

    rustup run nightly-2016-08-01 ~/.cargo/bin/rusti

work

[2016-09-14 22:54] nathanaeljones opened #92 "Link failure: cannot find -lncursesw [fixed]"
If `rusti` fails to compile with link error `note: /usr/bin/ld: cannot find -lncursesw`, you need the development version of libncursesw

On Ubuntu 14.04, this can be installed via apt-get.

`sudo apt-get install libncursesw5-dev`

Logging this issue for others searching the error message.

[2016-09-14 22:54] #92 closed

[2016-09-18 07:33] DeadNumbers commented on #27
[code]

[code]

[2016-09-19 00:16] murarth commented on #27
@DeadNumbers: rusti will not build on anything later than (approximately) `2016-08-01`. This is noted in the README: https://github.com/murarth/rusti/#building

This is due to the removal of the `ExecutionEngine` API; see #86.

[2016-10-01 23:34] hahnicity opened #93 "Current cargo build is broken"
**Steps:**
`cargo install --git https://github.com/murarth/rusti`

**Results:**
[code]

[2016-10-02 00:17] hahnicity commented on #93
Makes sense. Maybe there's a documentation bug then.

[2016-10-02 01:30] murarth commented on #93
As noted, the nightly requirement is already in the README. It's the first thing after the name and a brief description of the project.

[2016-10-02 01:30] #93 closed

[2016-11-19 05:46] softwaremechanic commented on #92
+1

[2016-12-17 03:56] hastebrot commented on #86
Does the `ExecutionEngine` in `exec.rs` replace the missing one from `src/librustc_llvm/lib.rs` (in [rust-lang/rust](https://github.com/rust-lang/rust))?

[2016-12-17 07:15] murarth commented on #86
@hastebrot: No. It is merely a high-level API on top of the now removed LLVM API.

[2017-04-24 04:27] z1mvader commented on #43
I'm a jupyter user, I'd like to test this and give you feedback if you like

[2017-04-24 04:30] z1mvader commented on #2
It would cause too much trouble to create some temporal cargo crate to manage this? It would be possible to generate the dependencies and inject them into Cargo.toml for example and then just compile them (just throwing the idea, don't know if it would work)

[2017-05-11 07:11] AnthonyJacob opened #94 "Possible REPL improvements."
If you are looking for some inspiration you should take a look at [julia's](https://julialang.org) REPL. It is the best REPL I have ever worked with. The killer features are special mods :

1. help `?` which can show documentation of any function inside the console
2. command `;` which can run console commands (on Windows it is cmd, on Linux it is bash ...)

And there are many more. I recommend yo

[2017-08-12 08:42] xavier83 commented on #43
Any update on this?

[2017-08-12 18:36] murarth commented on #43
@xavier83: I'm not planning to implement any new features for rusti in light of the fact that the execution API is no longer supported by the Rust compiler (and the last working nightly is now just over one year old).

I'd still like very much to bring rusti back in line with the latest compiler releases, but the way to achieving that is not clear at this time. (See #86 for some discussion on that

[2017-08-20 19:01] ShalokShalom opened #95 "Fail to build by cargo and git"
My error message: https://gist.github.com/ShalokShalom/35f099c78e856c2ad948d91d52f9c520

[2017-08-20 21:33] murarth commented on #95
rusti must be built with nightly 2016-08-01. The [building section of the README](https://github.com/murarth/rusti#building) gives instructions on how best to accomplish this, using `rustup`.

[2017-08-20 21:33] #95 closed

[2017-08-21 04:32] ShalokShalom commented on #95
Then remove maybe this information from the homepage: https://github.com/murarth/rusti#installation-using-cargo

[2017-08-21 04:36] coder543 commented on #95
quoting from that section:

"cargo" is basically bundled with every release of Rust. I think the instructions are pretty clear that you have to be using the correct version of Rust.

rusti has been unmaintained for quite awhile now, for various reasons. It would be nice if it were maintained, but there doesn't seem to be enough interest.

[2017-08-21 06:02] murarth commented on #95
@ShalokShalom: Fair point. The first `cargo install` command is misleading as it follows the stated suggestion to use `rustup`, but then does not itself use `rustup`. I've removed it, putting the proper `cargo install` command at the top of the installation section.

[2017-11-03 11:54] dineshadepu commented on #92
+1

[2017-12-01 00:42] alexreg opened #96 "Dead?"
This looks like a great project, though unfortunately it's well out-of-date, and could do with updates for the latest Rust (stable and nightly). Any chance of this happening?

[2017-12-01 00:57] murarth commented on #96
As described in issue #86, the rustc API that was used to compile code in memory is no longer available. rusti cannot be updated for a new version of Rust until a new API exists to fill this role.

(Closing as duplicate of #86.)

[2017-12-01 00:57] #96 closed

[2017-12-01 03:55] softprops commented on #96
:/

[2018-01-02 18:16] devin-fisher opened #97 "Linking error when libncurses is not installed"
Tried to building rusti using the instructions in the readme but ran into an error (see attached file). I tracked it down to missing libncurses files. I installed them ('sudo apt-get install libncurses5-dev libncursesw5-dev'). And rusti built without issue.

So is there a non-documented dependency on ncurses? If so, I'd recommend adding it to the readme.

Machine Info:
Architecture:        x86_64

[2018-01-04 19:02] murarth commented on #97
Yes, rusti has a dependency on ncurses through [linefeed](https://github.com/murarth/linefeed). However, linefeed may soon be dropping this dependency in favor of a pure Rust implementation of the low-level terminal interface.

[2018-02-21 04:23] spease opened #98 "Can’t find crate for ‘rustc_llvm’"
Happens when doing cargo test. The crate doesn’t appear to be available on crates.io anymore.

[2018-02-21 04:43] murarth commented on #98
The crate `rustc_llvm` used by rusti is not and has never been on crates.io. It was a crate used in the internals of the Rust compiler and no longer exists. If you're getting an error about it not existing, it's because you're not using the correct version of rustc to compile rusti. See the README section [Building](https://github.com/murarth/rusti#building) on how to install and build using the c

[2018-02-21 04:43] #98 closed

[2018-06-13 19:43] antonkulaga commented on #43
+1 Also want Rust kernel for Jupyter!

[2018-06-23 09:40] RadicalZephyr commented on #97
IMHO, it would still be worth mentioning it in the README because otherwise the first experience with Rusti is

If and/when you upgrade to a version of linefeed that doesn't use ncurses, then you can remove the dependency notice.

[2018-06-23 16:51] murarth commented on #97
Want to hear something funny? The pure rust implementation of `linefeed` that I mentioned above has now been implemented, but the outdated nightly build on which rusti depends is too old to compile the modern Rust code found in the latest release of `linefeed` (and some of its dependencies). Ha.

So, rusti is stuck with ncurses for the foreseeable future. As a result, I have added a note to the RE

[2018-06-23 16:51] #97 closed

[2018-09-26 13:41] HadrienG2 commented on #43
There is now [another Rust REPL project](https://github.com/google/evcxr) that somehow managed to work on more recent compiler releases and support Jupyter. Probably it could be used for inspiration or joined forces with.

[2018-12-21 15:04] izelnakri opened #101 "install hangs: rustup run nightly-2016-08-01 cargo install --git https://github.com/murarth/rusti"
the target rust is more than 2 years old and installing with it hangs on: Updating registry `https://github.com/rust-lang/crates.io-index`. Can we get an update with a more up-to-date rust?

[2018-12-21 17:51] murarth commented on #101
No, it's not possible to build rusti with any later version of Rust. (See #86)

You say that it hangs while updating the crates.io registry. How long did you allow it to run before interrupting it? Older versions of cargo did not display a progress bar when executing this operation. Is it possible that it simply wasn't allowed enough time to complete?

[2019-02-12 21:29] Type1J commented on #86
@murarth What's the status of making `rusti` work with current stable or nightly? Is it being pursued, or is this effectively dead?

[2019-02-12 22:11] bedax commented on #86
you may be interested in: https://github.com/google/evcxr

I'm not sure if rusti is looking at that for inspiration, would be nice if it did. As good as evcxr is, rusti's goals are still valid

[2019-02-12 23:43] murarth commented on #86
@Type1J Not actively being pursued by me. This project is effectively dead, for the foreseeable future.

Building a new method of in-memory executing maybe be possible (perhaps using libffi and rustc MIR/MIRI), but it would be a significant undertaking. I'm currently working on other projects and, unfortunately, this isn't a priority for me right now.

[2019-03-27 02:43] weaming commented on #98
Then this tool supports latest rustc features?

[2019-03-27 17:17] murarth commented on #98
@weaming No. rusti is locked to rustc version nightly-2016-08-01. If you want a REPL that supports the latest Rust features, try the evcxr project: https://github.com/google/evcxr

[2019-03-29 07:28] weaming commented on #98
@murarth yes, I found it finally, thanks still.

[2019-04-13 09:51] Oxidrill opened #102 "Exit command"
Hi,
It would be nice to add to the 5 basic commands .block, .help, .load, etc., a sixth command: .exit

[2019-04-13 16:26] murarth commented on #102
I've just pushed a commit that implements this command.

Thanks for the issue.

[2019-04-13 16:26] #102 closed, assigned to nobody

[2019-07-06 17:50] dmix commented on #86
@murarth it might be good to link to this thread in the README. It's not clear it's a dead project besides the 2016 flag.

[2019-07-12 17:52] #101 closed

[2019-07-12 17:53] #60 closed